<div [@routerTransition]>

    <app-page-header [heading]="'Documentos Guardados'" [icon]="'fas fa-save'"></app-page-header>

    <div class="row">
        <div class="col col-xl-12">
            <div class="card mb-3">

                <ngx-data-table [filtro]="'EnEspera'" 
                                [reloadTable]="reloadTable" 
                                [DeleteButton]="true"
                                (SelectedDocumento)="VerDocumentoPDF($event)" 
                                (AnularDocumento)="AnularEvent($event)"
                                (detalleDocumento)="detalleDocumento($event)">
                </ngx-data-table>

            </div>
        </div>
    </div> <!-- END ROW -->
</div>

<ng-template #messageModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{titleMessage}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="messageModalRef.hide()">
            <span aria-hidden="true">Cerrar &times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="modal-content-msg">
            <div [innerHTML]="content"></div>
        </div>
        <div class="modal-footer">
            <button type="button" mat-raised-button color="primary" (click)="messageModalRef.hide()">Aceptar</button>
        </div>
    </div>
</ng-template>


<ng-template #confirmModal>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Aviso, leea antes de confirmar.</h4>
    </div>
    <div class="modal-body">
        <div>
            <p class="txt-bold">Est&aacute; seguro que desea anular el documento?: <span>{{Documento.nombre}}</span></p>
        </div>
        <div class="modal-footer">
            <button type="button" mat-raised-button color="primary" (click)="AnularDocumento()">Si</button>
            <button type="button" mat-raised-button color="warn" (click)="confirmModalRef.hide()">Cancelar</button>
        </div>
    </div>
</ng-template>

<!-- ******************** -->
<!-- **** RENDER PDF **** -->
<!-- ******************** -->
<ng-template #pdfPreviewModal>
    <!-- <span class="text-red"> -->
    <div class="modal-header-pdf">
        <h4 class="modal-title pull-left">{{titleModal}} <span class="text-red">{{Documento.nombre}}</span> &nbsp;&nbsp; Propietario: <span class="text-red"> {{Documento.propietario}}</span> (id: {{Documento.id}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="bsPDFModalRef.hide()">
            <!-- (onHidden)="handler('onHidden', $event)" -->
            <span aria-hidden="true">Cerrar &times;</span>
        </button>
    </div>
    <div class="modal-body-pdf">
        <!-- Render PDF content into modal -->
        <ngx-pdf-viewer [Documento]="Documento">
        </ngx-pdf-viewer>
    </div>
</ng-template>

<!-- ********************************** -->
<!-- **** RENDER DETALLE DOCUMENTO **** -->
<!-- ********************************** -->
<ng-template #detalleModal>
    <div class="modal-header-pdf">
        <h4 class="modal-title pull-left"> Detalle Documento <span class="text-red">{{Documento.nombre}}</span> &nbsp;&nbsp; Propietario: <span class="text-red"> {{Documento.propietario}}</span> (id: {{Documento.id}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="detalleModalRef.hide()">
            <span aria-hidden="true">Cerrar &times;</span>
        </button>
    </div>
    
    <div class="modal-body-detalle">
        <ngx-data-table-detalle [Documento]="Documento">
        </ngx-data-table-detalle>
    </div>
</ng-template>